In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
observations = pd.read_csv("observations.csv")
species_info = pd.read_csv("species_info.csv")

print(observations.info())
print(species_info.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23296 entries, 0 to 23295
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  23296 non-null  object
 1   park_name        23296 non-null  object
 2   observations     23296 non-null  int64
dtypes: int64(1), object(2)
memory usage: 546.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB
None

In [13]:
observations.head(10)

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250

In [14]:
species_info.head(10)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

In [15]:
print(observations.scientific_name.nunique())
print(species_info.scientific_name.nunique())

5541
5541

In [16]:
full_df = pd.merge(observations, species_info)
full_df.head(10)

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Vicia benghalensis,Great Smoky Mountains National Park,68,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
1,Vicia benghalensis,Yosemite National Park,148,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
2,Vicia benghalensis,Yellowstone National Park,247,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
3,Vicia benghalensis,Bryce National Park,104,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
4,Neovison vison,Great Smoky Mountains National Park,77,Mammal,American Mink,NaN
5,Neovison vison,Yellowstone National Park,218,Mammal,American Mink,NaN
6,Neovison vison,Bryce National Park,91,Mammal,American Mink,NaN
7,Neovison vison,Yosemite National Park,200,Mammal,American Mink,NaN
8,Prunus subcordata,Yosemite National Park,138,Vascular Plant,Klamath Plum,NaN
9,Prunus subcordata,Yellowstone National Park,217,Vascular Plant,Klamath Plum,NaN

In [83]:
print(full_df.info())
print(full_df.conservation_status.unique())
print(full_df.category.unique())
print(full_df.park_name.unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25632 entries, 0 to 25631
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scientific_name      25632 non-null  object
 1   park_name            25632 non-null  object
 2   observations         25632 non-null  int64
 3   category             25632 non-null  object
 4   common_names         25632 non-null  object
 5   conservation_status  880 non-null    object
dtypes: int64(1), object(5)
memory usage: 1.4+ MB
None
[nan 'Species of Concern' 'Threatened' 'Endangered' 'In Recovery']
['Vascular Plant' 'Mammal' 'Bird' 'Nonvascular Plant' 'Amphibian'
 'Reptile' 'Fish']
['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Yellowstone National Park' 'Bryce National Park']

In [84]:
def conservation_status_info(conservation_status, df): # Prints the percentage of species based on conservation_status
    sub_df = df[df.conservation_status == conservation_status]
    
    categories = list(df.category.unique())
    print("Info for conservation status: " + conservation_status)
    for category in categories:
        print(category + ": {:.4f} %".format((len(sub_df[sub_df.category == category]) / len(df[df.category == category]))))
    print("")

In [85]:
for stat in list(full_df.conservation_status.dropna().unique()):
    conservation_status_info(stat, full_df)

Info for conservation status: Species of Concern
Vascular Plant: 0.0088 %
Mammal: 0.1400 %
Bird: 0.1354 %
Nonvascular Plant: 0.0150 %
Amphibian: 0.0488 %
Reptile: 0.0617 %
Fish: 0.0305 %

Info for conservation status: Threatened
Vascular Plant: 0.0004 %
Mammal: 0.0067 %
Bird: 0.0000 %
Nonvascular Plant: 0.0000 %
Amphibian: 0.0244 %
Reptile: 0.0000 %
Fish: 0.0382 %

Info for conservation status: Endangered
Vascular Plant: 0.0002 %
Mammal: 0.0367 %
Bird: 0.0068 %
Nonvascular Plant: 0.0000 %
Amphibian: 0.0122 %
Reptile: 0.0000 %
Fish: 0.0229 %

Info for conservation status: In Recovery
Vascular Plant: 0.0000 %
Mammal: 0.0100 %
Bird: 0.0051 %
Nonvascular Plant: 0.0000 %
Amphibian: 0.0000 %
Reptile: 0.0000 %
Fish: 0.0000 %